# .gitignore
# Improved readability with distinct sections

# [SECTION: PYTHON]
__pycache__/
*.py[cod]
*$py.class
*.so
.Python


# [SECTION: ENVIRONMENTS]

# [SECTION: SYSTEM]

# [SECTION: PROJECT SPECIFIC]
